
.card-container, main, .card
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    border: 1px solid black;
}
.card
{
    flex-direction: column;
}
img
{
    display: flex;
    align-content: space-around;
    align-items: center;

}